@import url('https://fonts.google.com/specimen/Montserrat?query=mont')
@import url(https://fonts.google.com/specimen/Open+Sans?query=open+sans);
h1{
    font-family: montserrat;
}
h2{
    font-family: montserrat;
}
h3{
    font-family: montserrat;
}
h4{
    font-family: montserrat;
}
h5{
    font-family: montserrat;
}
body{
    font-family: open sans-serif;
}

/*Ajout de nos couleurs personnalisées*/
:root{
    --white: #FFFFFF;
    --orange: #FAB367;
    --red: #FF4848;
    --brown: #CC6119;
    --deepgrey: #7a7f86;
    --grey: #ced4dd;
    --black: #232628;
    --bleu: #6C98E1;
}
.accessibility{
    position: absolute;
    left: -1500px;
}
.textBlanc{
    color: var(--white);
}
.textGris{
    color: var(--deepgrey);
}
.textBleu{
    color: var(--bleu);
}
.textMarron{
    color: var(--brown);
}
.textNoir{
    color: var(--black);
}
.bgGris{
    background-color: var(--grey);
}
.bgOrange{
    background-color: var(--orange);
}
.bgNoir{
    background-color: var(--black);
}
.bgRouge{
    background-color: var(--red);
}
.bgBleu{
    background-color: var(--bleu);
}
.bgBlanc{
    background-color: var(--white);
}
.textSize08{
    font-size: .8rem;
}
.textSize14{
    font-size: 1.4rem;
}
.hauteurDeLigne50{ 
    line-height: 50%;
}
/*survol des éléments de la navbar*/
a:hover{
    display: inline-block;
    background-color: var(--brown);
    color: var(--white);
    height: 40px;
    padding-top: 0px;
}
/* HEADER */

/*gestion interligne Adresse Header*/
#mainAdress{
    line-height: 110%;
}
/*décallage du Clubauto dans le header de 5% vers la gauche*/
#clubauto{
    
  
    padding-right: 5%;
}
#maincontent{
    position: relative;
    top: -16px;
}
/*gestion interligne Téléphone Header*/
#mainPhone{
    line-height: 150%;
}
/*gestion interligne Ouverture Header*/
#mainOuverture{
    line-height: 120%;
}
/*décalage de 20px vers la droite du téléphone*/
#telephone{
    padding-left: 20px;
}
/*Positionnement du bouton bleu sur fond noir pour les smartphones*/
#nav-toggle-button-vente{ 
    background-color: var(--black);
    position: absolute;
    top: -220px;
    left: 85%; 
}
#nav-toggle-button-index{ 
    background-color: var(--black);
    position: absolute;
    top: -90px;
    left: 85%; 
}
#nav-toggle-button-contact{
    background-color: var(--black);
    position: absolute;
    top: -170px;
    left: 85%; 
}
/* MAIN */
#mainH1{
    height: 130px;
    padding: 0 15%;
   

}
/* FOOTER */

/*Ajout d'un padding à droite et gauche du footer*/
footer{
    padding: 0 5% 0 10%;
}   
nav{
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
   
}
/*Ajout d'une coche personalisée à la liste*/
#coches{
    list-style-image: url(https://img.icons8.com/external-tal-revivo-bold-tal-revivo/24/000000/external-checkmark-sign-with-outline-effect-isolated-on-white-background-votes-bold-tal-revivo.png);
}
.cochesDetails{
    list-style-image: url(https://img.icons8.com/doodle/48/null/checkmark.png);
}
#imgVente{ 
    z-index: 90;
    position: relative;
    top: -180px;
    
}

#location{
    z-index: 100;
    margin-top: 1rem;
    position: relative;
    top: 250px;
    left: 0;
    opacity: 90%;
   

}
#vente{
    z-index: 100;
    margin-top: 1rem;
    position: relative;
    top: 250px;
    left: 0;
    opacity: 90%;
}
.vide{
    margin: 0;
    
}
#bordure{
    margin: 0 12%;
    border-color: var(--brown)!important;
    border-bottom-width: medium !important;
}
#bordureFooter{
    margin: 0 9% 0 0;
    border-color: var(--deepgrey)!important;
    border-bottom-width: small !important;
}

.bordureVente{
    margin-left: 170px;
    border-color: var(--grey)!important;
    border-bottom-width: small !important;
}
#vehiculeRecent{
    height: 220px;
    position: relative;
    top: -10px;
}
#vehiculeNeuf{
    position: relative;
    top: -100px;
    height: 500px;
}
#prix{
    text-decoration: line-through;
}
.hauteur{
    height: 60px;
    margin-top: 10px;
}
.hauteur2{
    height: 2em;
    margin-top: 30px;
}
.fondDescription{
    background-color: rgb(45, 45, 45);
    margin: 15px;
    max-width: 457px;
}
#pourquoi{
    position: relative;
    top: -50px;
}
.image{
    width: 40%;
    height: 40%;
}
#banniere{
    position: relative;
    top: 400px;
    left: 3em;
}
#bouton{
    position: relative;
    top: 100px;
}
#copyright{
    font-size: 10px;
    padding-top: 10px;
    height: 50px;
}
.formulaire{
    width: 500px ;
}
#h1Vente{
    position: relative;
    left:  1em;
    top: 7rem;
    font-size: 4em;
    z-index: 25;
}
.imgVente2{
    position: relative;
    top: -5.3rem;
    -webkit-filter: brightness(60%);
    z-index: 20;
}
#paragrapheVente{
    position: relative;
    top: -100px;
}
.savoirPlus{
    text-decoration: none;
}
#venteclubAutoHeader{
    font-size: 50px;
}
#accordeonVenteSM{
    z-index: 30;
    position: relative;
    top: -160px; 
}
#accordeonVenteLG{
    z-index: 30;
    position: relative;
    top: -1700px;
    left: 80em;
}
.prixVenteSM{
    position: relative;
    left: 292px;
    top: 295px;
    height: 2em;
   
}
.separationVente{
    margin-left: 10%;
}
#test{
    position: relative;
    top: -800px;
}
#formulaireContact{
    position: relative;
    top: -60px;
    z-index: 30;
}
#imgContact{
    z-index: 25;
}
#exampleModal{
    z-index: 40;
}
.h1Contact{
    font-size: 4em;
}
#imgDetails{
    width: 90%;
}
#cache{
    z-index: 50;
    position: relative;
    top: -16px;
}
.pillsTab{
    width: 10em; 
}
.marginDetails{
    padding-left: 20px;
    color: var(--white);
}
.texteDetails{
    border-left: solid var(--brown);
    
}